// erorr
$borderColor:rgba(255,25,0,0.322);
$errorBg:rgb(192 29 29 / 15%);
$errorColor:#ef8d8dfa;
// default
$defaultBorder: #c8c8c8;
$defaultBg:rgb(29 31 32 / 71%);
$defaultColor: #c8c8c8;
// info
$infoborder:#646cff ;
$infoBg:rgb(100 108 255 / 8%);
$infoColor: #bcc0ff;
// warning
$warningBorder:rgba(255,213,0,0.793);
$warningBg:rgb(255 197 23 / 5%);
$warningColor: #fcd253;
// success
$successBorder:rgba(0,255,0,0.322);
$successBg:rgba(246,238,9,0.127);
$successColor:#7acf58d6;
@mixin alert($name,$borderColor,$errorBg,$errorColor){
    .#{$name}{
        border: 2px dotted $borderColor;
        border-radius: 0.8rem;
        padding: 1.3rem;
        background-color: $errorBg;
        color: $errorColor;
        margin-bottom: 0.5rem;
        .alert-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .title{
            font-weight: 500;
            display: flex;
            align-items: center;
        }
        .icon-Header{
            padding-right: 5px;
        }
    }
}

@include alert("alert-wrapper",$borderColor,$errorBg,$errorColor);
@include alert("alert-default",$defaultBorder,$defaultBg,$errorColor);
@include alert("alert-info",$infoborder,$warningBg,$infoColor);
@include alert("alert-warning",$warningBorder,$errorBg,$warningColor);
@include alert("alert-success",$successBorder,$successBg,$successColor);